html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}


body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image:linear-gradient(to left top	,#FFDB58, #FF69B4, #FF8C00, #FA8072);

}

h1 {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  color:#FFDB58;
  /* color: #85C1E9 ; */
  -webkit-text-stroke: 1px black;
}

title {
  width: 100%;
}
img { 
  justify-content: center;
  width: 500px;
}
.title-img{
  width: 100%;
  max-width: unset;
  max-height: unset;
}

.play-button {
  position: relative;
  bottom: 0;
}