html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image:linear-gradient(to left top	,#FFDB58, #FF69B4, #FF8C00, #FA8072);
}

title {
  width: 100%;
}


.play-button {
  position: relative;
  bottom: 0;
}